.father{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70rem;
    margin: auto;
    margin-bottom: 2rem;
}
.child{
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 450px;
    margin: auto;
    border: 5px solid antiquewhite;
    border-radius: 4px;
    text-align: left;
    background-color: antiquewhite;
}
.child input{
    width: 10rem;
    height: 1.5rem;
}
.child button{
    margin-top: 5px;
    background-color: rgb(87, 188, 255);
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: .5px solid rgb(87, 188, 255);
}
.but{
    margin-left: auto;
}
.part{
    display: flex;
    margin-bottom: 5px;
}
.part input{
    display: flex;
    margin-left: auto;
    width:80%;
}
.centered{
    text-align: center;
}
h1{
    margin: 20px;
}
h2{
    margin-top: 1px;
}
.results{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60rem;
    margin: auto;
    margin-bottom: 2rem;
}