.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65rem;
    justify-content: space-between;
    margin: auto;
    border: 1.5px solid #beb1b1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: antiquewhite;
}
.cart label{
    flex: 1;
}
.inter{
    flex: 1.9;
}
.cart img{
    flex: .5;
    max-height: 90px;
    max-width: 100px;
    padding-left: 40px;
}
.cart button{
    flex: 1;
    background-color: rgb(255, 129, 129);
    border: .5px solid rgb(255, 129, 129);
    border-radius: 8px;
}
.cart button{
    flex: .3;
}
.all{
    margin-bottom: 4rem;
}