.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65rem;
    justify-content: space-between;
    margin: auto;
    border: 1px solid #beb1b1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.cart label{
    flex: 1;
}
.inter{
    flex: 1.9;
}
.cart img{
    flex: .5;
    max-height: 90px;
    max-width: 100px;
    padding-left: 40px;
}
.cart button{
    flex: 1;
}