.catalog .search{
    margin: auto;
    margin-bottom: 2rem;
}
.products{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h2{
    padding-top: .5rem;
}
.categories{
    margin: 0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.search input{
    padding: 7px;
    font-size: 15px;
    border-width: 1px;
    border-color: #faebd7;
    border-style: solid;
    border-radius: 38px;
    box-shadow: 1px 0px 7px rgba(2,2,2,.77);
    text-shadow: 0px 0px 7px rgba(66,66,66,.75);   
}
.btn {
    border-radius: 28px;
    color: #000000;
    font-weight:normal;
    font-size: 20px;
    background: #faebd7;
    border: 2px solid rgb(111, 101, 87);
    padding: 5px 20px 10px 20px;
    text-decoration: none;
}  