.shopping{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: auto;
    margin: auto;
    padding: 2rem;
}
.shopping input{
    width: 18rem;
    height: 2rem;
}
.shopping button{
    width: 5rem;
    height: 2rem;
    margin: auto;
}
.rowInfo{
    margin: auto;
    margin-bottom: 2rem;
    background-color: rgb(87, 188, 255);
    display: flex;
    column-gap: 10px;
    width: 25rem;
    padding: 1rem;
}
.rowInfo button{
    background-color: rgb(203, 203, 203);
    color: black;
    font-weight: bold;
}
.list{
    margin-bottom: 5rem;
}
.infoz{
    text-align: center;
}