.footer{
    background-color:  rgb(12, 150, 241);
    color: #faebd7;
    margin: 0;
    font-size: 20px;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 2rem;
}
.footer2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left{
    margin-right: auto;
}
h1{
    margin-bottom: 3px;
}
.logo img{
    height: 30px;
    margin-right: 15px;
}
.line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20rem;
    border-bottom: 2px solid rgb(7, 72, 116);
}
.subscribe{
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscribe input{
    height: 1.5rem;
}
.subscribe button{
    background-color: aliceblue;
    border: .5px solid aliceblue;
    border-radius: 10px;
}