.navbar{
    color: rgb(255, 255, 255);
    background-color: rgb(87, 188, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
padding: 0 0 10px 0;
}
.navbar input, button{
    height: 2rem;
}