.navbar{
    color: rgb(255, 255, 255);
    background-color: rgb(87, 188, 255);
    justify-content: space-between;
    height: 4rem;
    padding: 0 0 10px 0;
}
.navbar input, button{
    height: 2rem;
}
.row{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.px{
    margin-left: 2rem;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.title{
    font-size: 40px;
}