.product{
    background-color: antiquewhite;
    border: 3px solid rgb(150, 141, 129);
    height: 350px;
    width: 300px;
    display: inline-block;  
    margin-bottom: 2rem; 
}
h5{
    font-size: 22px;
    margin: 3px 0 5px 0;
}
.product img{
    height: 200px;
    max-width: 300px;
}